<a href="https://colab.research.google.com/github/Santyk98/santhanam/blob/main/Task%203%2C4/Assessment2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
df1 = pd.read_csv('/content/college_1.csv')
df2 = pd.read_csv('/content/college_2.csv')

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [ ]:
df = pd.concat(
    map(pd.read_csv, ['/content/college_1.csv', '/content/college_2.csv']), ignore_index=True)
print(df)

              Name  python  mysql  Previous Geekions  CodeKata Score  \
0        A.Dharani    82.0   20.0              24500           24500
1      V.JEEVITHA     82.0   20.0              21740           21740
2      HEMAVATHI.R   100.0  100.0              19680           19680
3      Mugunthan S   100.0   47.0              10610           10610
4      Sathammai.S   100.0    8.0               8980            8980
..             ...     ...    ...                ...             ...
114  praveen raj j    24.0    0.0               2380            2380
115     AMARNATH D    -1.0   12.0               1890            1890
116           bala    32.0    0.0               1720            1720
117           XY Z    -1.0   -1.0                  0               0
118      Hariharan    -1.0   -1.0                  0               0

                                    Department  Rising  python_en  \
0             Computer Science and Engineering       0        NaN
1             Computer Science and Engineering       0        NaN
2             Computer Science and Engineering       0        NaN
3             Computer Science and Engineering       0        NaN
4             Computer Science and Engineering       0        NaN
..                                         ...     ...        ...
114           Computer Science and Engineering       0       -1.0
115  Electronics and Communication Engineering       0       52.0
116  Electronics and Communication Engineering       0       49.0
117           Computer Science and Engineering       0       20.0
118           Computer Science and Engineering       0       -1.0

     computational_thinking
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
..                      ...
114                     0.0
115                    -1.0
116                    -1.0
117                    -1.0
118                     0.0

[119 rows x 9 columns]

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [ ]:
df = pd.read_csv (r'/content/college_1.csv') 
df

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0
...,...,...,...,...,...,...,...
79,KarthikeyanS,45.0,0.0,0,0,Electronics and Electrical Engineering,0
80,BARATH.P,29.0,0.0,0,0,Electronics and Electrical Engineering,0
81,N.Ajith kumar,82.0,0.0,0,0,Electronics and Electrical Engineering,0
82,mohamed nabi,0.0,0.0,0,0,Electronics and Electrical Engineering,0
83,yaser ahamed.A,0.0,27.0,0,0,Electronics and Electrical Engineering,0

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [ ]:
df.groupby('Previous Geekions')['CodeKata Score'].mean()

Previous Geekions
0            0.0
40          40.0
60          60.0
100        100.0
120        120.0
          ...
8980      8980.0
10610    10610.0
19680    19680.0
21740    21740.0
24500    24500.0
Name: CodeKata Score, Length: 70, dtype: float64

###### No of students participated

In [ ]:
df['Name'].value_counts()

A.Dharani         1
RANJITH.R         1
Aravind           1
muvendiran.m      1
Thivviya          1
                 ..
sri dharshini     1
Tpavithra         1
MEERA.M           1
balaji            1
yaser ahamed.A    1
Name: Name, Length: 84, dtype: int64

###### #Average completion of python course or my_sql or python english or computational thinking

In [ ]:
df['python'].mean()

73.39285714285714

###### rising star of the week (top 3 candidate who performed well in that particular week)

###### Shining stars of the week (top 3 candidates who has highest geekions)

###### Department wise codekata performence (pie chart)

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)